<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047517326176-2de71lj1hpmvmcre6sbpobcj6uab6ht8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047517326176-2de71lj1hpmvmcre6sbpobcj6uab6ht8</string>
	<key>API_KEY</key>
	<string>AIzaSyBYNcqivvKY0_8l42bLnGHdibw-itW6Ouo</string>
	<key>GCM_SENDER_ID</key>
	<string>1047517326176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.astblitz.astBlitz</string>
	<key>PROJECT_ID</key>
	<string>ast-blitz</string>
	<key>STORAGE_BUCKET</key>
	<string>ast-blitz.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047517326176:ios:27e11bb2075c76406ecc05</string>
	<key>DATABASE_URL</key>
	<string>https://ast-blitz-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>